extends layout

block content
    h1 ADMIN DASHBOARD

    a(href="/catalog/item/create") Add new item
    br
    br
    a(href="/catalog/iteminstance/create") Add new unit(s)
    br
    br
    br
    br
    br
    br
    br
    a(href="/catalog") Catalog 


