extends layout

block content

    h1 Select Account Type

    ul
        each item in category_list 
            li 
                a(href=item.url) #{item.name}
            br
    br
    br
    br
    br
    a(href="/admin") Admin